.container {
  background-color: #f5efe8;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* HERO */

.hero {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

/* Slides */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;

  background-size: cover;
  background-position: center;

  opacity: 0;
  transition: opacity 0.8s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  opacity: 1;
  z-index: 2;
}

/* Overlay  */
.overlay {
  background: rgba(20, 15, 10, 0.65);
  backdrop-filter: blur(4px);
  padding: 3rem 4rem;
  border-radius: 24px;
  text-align: center;
  color: #fff;
  max-width: 750px;
}

/* Typepography */
.overlay h1 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.overlay p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

/* Dots */

.dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background: white;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
}

.dotActive {
  opacity: 1;
}

/* FEATURES */

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  padding: 0 4rem 4rem;
}


