.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.card:hover {
  transform: translateY(-4px);
  transition: 0.2s;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 1rem;
}

